[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
sklearn-pandas = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
streamlit = "*"
joblib = "*"
SQLAlchemy = "*"
seaborn = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
